* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.borderless td, .borderless th {
    border-top: none !important;
}

.wrapper {
	position: absolute;
	width: 700px;
	height: 875	px;
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif;
	color: #fff;
	padding: 0 40px 10px 40px;


/*background: #808080; /* fallback for old browsers 
background: -webkit-linear-gradient(to top, #808080 , #3fada8); /* Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to top, #808080 , #3fada8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


background: #2C3E50; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2C3E50 , #4CA1AF); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2C3E50 , #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
           
}

.top {
	background-color: #191d30;
	padding: 20px 30px;
	width: 400px;
	margin: 0 auto 35px auto;
	border-radius: 0 0 4px 4px;
	border-bottom: 3px solid #fff;
}

.text-logo {
	text-align: center;
	font-size: 14px;
	margin-top: 0;
}

.title {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 4px;
}

.subtitle {
	font-size: 22px;
	text-align: center;
	margin-top: 0;
}

.jumuah {
	color: #eaeaea;
	text-transform: none;
	text-align: center;
	font-size: 11px;
}

table {
	font-size: 9px;
}

table tr td:first-child {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

table > thead > tr > th, table > tbody > tr > td {
	text-align: center;
}

table > tbody tr td {
	padding: 5px !important;
}

table tr:nth-child(7n + 3) {
	background-color: #fff;
	color: #21263f;
	border-left: 3px solid #21263f;
}

table tr:nth-child(7n + 3) td:last-child {
	border-radius: 0 4px 4px 0;
}